
.skills{
    /* position: absolute; */
    background-color: transparent;
    bottom: -650px;
    width: 100%;
    margin-top: 77rem;
    height: 1000px;
    z-index: -100;
    /* background-image: url("https://steamuserimages-a.akamaihd.net/ugc/951857668148675039/DEE6B85887DB25E1C531CC813CE37D2231936DD8/?imw=116&imh=65&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
    background-repeat: no-repeat;
    background-size: 100%; */
}
.ski{
    color:transparent;
    width: 800px;
    height: 1200px;
    /* position: relative; */
    margin-left: 866px;
    font-size: 5em;
    text-align: center;
    font-family: Imported;
    margin-top: 19rem;
    background-color: transparent;
    right: 159px;
    z-index: -100;
    /* background-image: url("https://steamuserimages-a.akamaihd.net/ugc/951857668148675039/DEE6B85887DB25E1C531CC813CE37D2231936DD8/?imw=116&imh=65&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
    background-repeat: no-repeat;
    background-size: 100%; */

}